{% extends "base.html.twig" %}
{% block body %}
<style>
fieldset{
    margin-right:500px;
    padding:30px ;
}
#form_Update{
    margin:20px 50px 50px 300px ;
}
td{
    padding-right:80px;
}
</style>
<fieldset>
{{form_start(ff,{'attr':{'novalidate':'novalidate'}})}}
<table>
    <tr>
        <td>{{form_label(ff.etatrdv,"Etat Rendezvous:  ")}}</td>
        <td>{{form_widget(ff.etatrdv)}}</td>
        <td>{{form_errors(ff.etatrdv)}}</td>
    </tr>
</table>
{{form_end(ff)}}
</fieldset>
{% endblock %}