{{form_start(f,{'attr':{'novalidate':'novalidate'}})}}
<fieldset>
<table>
<style>
</style>
<body>
<h1>Ajouter un reclamation</h1>
<form name="clubForm" method="post">
     <tr>
        <td>{{form_label(f.etatreclamation,"changer l'etat")}}</td>
        <td>{{form_widget(f.etatreclamation)}}</td>
        <td>{{form_errors(f.etatreclamation)}}</td>
    </tr> 
</table>
{{form_end(f)}} 
 </fieldset>   