{% extends "indexs.html.twig" %}
{% block body %}
<style>
table{
    width:100%;
    height:30%;
    
}
td{
    padding:10px;
}
h3{
    color:black;
    padding:10px;
}
label{
    text-shadow: 2px  ;
    color:black;
}
fieldset{
    margin-left:200px;
    margin-right:550px;
    margin-bottom:1px;
    padding:30px;
}
</style>
<fieldset>
{{form_start(ff,{'attr':{'novalidate':'novalidate'}})}}
<fieldset>
<h3>    Ajouter Commande :</h3>
<table>
    <tr>
        <td>{{form_label(ff.datecommand,"Date:  ")}}</td>
        <td>{{form_widget(ff.datecommand)}}</td>
        <td>{{form_errors(ff.datecommand)}}</td>
    </tr>
    <tr>
        <td>{{form_label(ff.total,"Total:  ")}}</td>
        <td>{{form_widget(ff.total)}}</td>
        <td>{{form_errors(ff.total)}}</td>
    </tr>
    <tr>
        <td>{{form_label(ff.etat,"Etat:  ")}}</td>
        <td>{{form_widget(ff.etat)}}</td>
        <td>{{form_errors(ff.etat)}}</td>
    </tr>
    <tr>
        <td>{{form_label(ff.iduser,"Iduser:   ")}}</td>
        <td>{{form_widget(ff.iduser)}}</td>
        <td>{{form_errors(ff.iduser)}}</td>
    </tr>
</table>
{{form_end(ff)}}
</fieldset>
{% endblock %}
