{#{{form(ff)}}       #}
{{form_start(ff,{'attr':{'novalidate':'novalidate'}})}}
<fieldset>
<table>
<style>
</style>
<body>
<h1>choisir le type de votre reclamation</h1>
<form name="clubForm" method="post">
     <tr>
        <td>{{form_label(ff.category,"changer l'etat")}}</td>
        <td>{{form_widget(ff.category)}}</td>
        <td>{{form_errors(ff.category)}}</td>
    </tr> 
    
</table>
{{form_end(ff)}} 
 </fieldset>   