<table>
<tr>
<th>User
</th>
<th>Total
</th>
<th>Date De Commande
</th>
<th>Etat
</th>
<th>Detail</th>
<th>Modifier</th>
</tr>
{% for i in cc %}
<tr>
<td>
{{i.nomformation}}
</td>
<td>
{{i.description}}
</td>
<td>
{{i.datecreation|date('Y-m-d')}}
</td>
<td>
{{i.duree}}
</td>
<td>
{{i.prix}}
</td>
        <td><a href="{{path('addl',{id:i.idformation})}}">Ajoute a commande</td>
</tr>
{% endfor %}
</table>