{% extends "indexs.html.twig" %}
{% block body %}
<style>
table, tr, td ,th {
  border: 3px solid black;
  padding-left: 20px;  
}
table{
    width:100%;
    height:30%;
}
tr{
  height:30%;
}
th{
  color:black;
  text-shadow: 3px;
  background-color: #3215;
}
</style>
<h4>Votre Elements Commande.</h4>
<table>
<th>Prix</th>
<th>Nom De Formation</th>
<th>Description</th>
<th>Duree</th>
<th>Action</th>
{% for i in ll %}
<tr>
<td>
{{i.prix}}
</td>
{% for j in ff %}
{% if i.idformation == j.idformation %}
<td>
{{j.nomformation}}
</td>
<td>
{{j.description}}
</td>
<td>
{{j.duree}}
</td>
<td><a href="{{path('removeLigne',{id:i.idlignecommand})}}">Remove</td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>
<button class="icon"><a href="{{path('fff')}}">Retour</button>
{% endblock %}
