{% extends "indexs.html.twig" %}
{% block body %}


    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-3">
                <div class="pull-right">
                    <div class="btn-group">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="{{path('listformationclient')}}">Retour aux formations</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        {%for f in listcourC %}
            <div class="card" style="width: 20rem;">

                <img  src="{{ vich_uploader_asset(f , 'imageFile')|imagine_filter('cour_filtre') }}"  >
                <div class="card-body">
                    <h4 class="card-title" style="color: #0e4cfd">Nom: {{ f.nomcour}}</h4>
                    <h5 class="card-title">Formateur: {{ f.nomformateur}}</h5>



                    <a class="btn btn-success" href="{{path('courPdf',{idcour:f.idcour})}} " > Télécharger</a>
                </div>

            </div>
            <br>

        {%endfor %}

        {{ knp_pagination_render(listcourC, 'formation/twitter_bootstrap_v4_pagination.html.twig') }}
    </div>

    <style>
        .view-group {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
        }
        .thumbnail
        {
            margin-bottom: 30px;
            padding: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        .item.list-group-item
        {
            float: none;
            width: 100%;
            background-color: #fff;
            margin-bottom: 30px;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 1rem;
            border: 0;
        }
        .item.list-group-item .img-event {
            float: left;
            width: 30%;
        }

        .item.list-group-item .list-group-image
        {
            margin-right: 10px;
        }
        .item.list-group-item .thumbnail
        {
            margin-bottom: 0px;
            display: inline-block;
        }
        .item.list-group-item .caption
        {
            float: left;
            width: 70%;
            margin: 0;
        }

        .item.list-group-item:before, .item.list-group-item:after
        {
            display: table;
            content: " ";
        }

        .item.list-group-item:after
        {
            clear: both;
        }
    </style>

{% endblock %}