{% extends 'base.html.twig' %}
{% block username %}
{% for i in u %}
{{i.username}}
{% endfor %}
{% endblock %}
{% block body %}
<table border="1">
<tr> 
    <th> IdUser</th>
    <th> Nom</th>
    <th> Username</th> 
    <th> Userpwd</th>
    <th> DateNaissance</th>
    <th> Email</th>
    <th> Role</th>
    <th> Supprimer</th>
    <th> Modifier</th>
</tr>
{% for i in u %}
<tr>
<td>
{{i.iduser}}
</td>
<td>
{{i.nom}}
</td>
<td>
{{i.username}}
</td>
<td>
{{i.userpwd}}
</td>
<td>
{{i.daten|date('Y-m-d')}}
</td>
<td>
{{i.email}}
</td>
<td>
{{i.Role}}
</td>
<td>
<a href="{{path('Deleteuser',{'id':i.iduser})}}">Spprimer</a>
</td>
<td>
<a href="{{path('modifieruser',{'id':i.iduser})}}">Modifier</a>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
